/*
 * Globals
 */

/*
 * Blog name and brand
 * 設定了標題的字型和大小
 */
.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

/*
 * Post meta and nav
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Pagination
 */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post-meta > a {
  color: #727272;
}

/* Thematic break */
hr {
  margin: 3rem 0;
}